@{
    ViewBag.Title = "Index";
}

<h2>Indices de páginas de teste</h2>

<a href="/Dimas/DadosClientePorCnpj">Dados de Cliente por Cpf/Cnpj</a><br />
<br />
<a href="/Dimas/CadEmpresaFromCertificado">Dados da empresa a partir do certificado digital</a><br />
<br />
<a href="/Dimas/TesteWs">Teste de Web Services</a><br />
<br />
<a href="/Dimas/CalculoRetencoes">Calculo de Retenções</a><br />
<br />